<!DOCTYPE html>
<html>
  <head>
    <script src="http://localhost:35729/livereload.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.9/angular.min.js"></script>
    <script src="lib/hmac-sha256.js"></script>
    <script src="lib/enc-base64-min.js"></script>
    <script src="query-generator.js"></script>
    <script src="main.js"></script>
  </head>
  <body ng-app="mainModule">
    <div>Amazon Search Box
      <div ng-controller="mainCtrl">
        <input type="text" id="search" autocomplete="on" list="keywords" ng-model="keyword" ng-change="onChange(keyword)">
        <datalist id="keywords">
          <option ng-repeat="word in words" value="{{word}}"></option>
        </datalist>
        <button type="submit" ng-click="search(keyword); keyword='';" ng-disabled="!keyword">Search</button>
        <div>Search Results
          <ul ng-repeat="item in items"> 
            <li>Title : {{item.ItemAttributes.Title}}   Author : {{item.ItemAttributes.Author}}  </li>
            <p> <a ng-href="{{item.DetailPageURL}}" target="_blank"><img ng-src="{{item.MediumImage.URL}}" alt="{{item.ItemAttributes.Title}}">
                <p>Click to Jump</p></a></p>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>